:root{
    --bg-color: rgb(219, 212, 212);
    --primary-color: rgb(60, 177, 60);
}

html,body{
    background: var(--bg-color);
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}
@import './header.css';
@import './messeges.css';